<%-include("../partials/AdminAsideandHeader")-%>

<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Products List</h2>
      <p>Shows all products here</p>
    </div>
    <div>
      <a href="/admin/addproduct" class="btn btn-primary btn-sm rounded"
        >Create new</a
      >
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <div class="row align-items-center">
        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
          <select class="form-select">
            <option selected>All category</option>
            <% categories.forEach(function(category) { %>
            <option><%= category.CategoryName %></option>
            <% }); %>
          </select>
        </div>
        <div class="col-md-2 col-6">
          <input type="date" value="01.05.2024" class="form-control" />
        </div>
        <div class="col-md-2 col-6">
          <select class="form-select">
            <option selected>Status</option>
            <option>Active</option>
            <option>Disabled</option>
            <option>Show all</option>
          </select>
        </div>
      </div>
    </header>
    <!-- card-header end// -->
    <div class="card-body">
      <article class="itemlist">
        <% products.forEach(function(product) { %>
        <div class="row align-items-center">
          <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
            <a class="itemside" href="#">
              <div class="left">
                <img
                  src="/imgs/Gallery/<%=product.Image[0]%>"
                  class="img-sm img-thumbnail"
                  alt="Item"
                />
              </div>
              <style>
                .product_brand {
                  display: block;
                  color: darkgreen;
                  font-weight: bolder;
                }
                .btn-block-red {
                  background-color: red;
                  color: white;
                  border-color: red;
                }
              </style>
              <div class="info">
                <h6 class="mb-0">
                  <%= product.productName %>
                  <span class="product_brand"><%= product.brand %></span>
                </h6>
              </div>
            </a>
          </div>
          <div class="col-lg-2 col-sm-2 col-4 col-price">
            <span><%= product.category.CategoryName %></span>
          </div>
          <div class="col-lg-2 col-sm-2 col-4 col-price">
            <span>$<%= product.salePrice %></span>
          </div>
          <div class="col-lg-1 col-sm-1 col-3 col-status">
            <span class="badge rounded-pill alert-success">Active</span>
          </div>

          <div
            class="col-lg-3 col-sm-3 col-5 col-action text-end d-flex justify-content-evenly"
          >
            <a href="#" class="btn btn-sm font-sm rounded btn-brand">
              <i class="material-icons md-edit"></i> Edit
            </a>
            <a href="#" class="btn btn-sm font-sm btn-light rounded">
              <i class="material-icons md-delete_forever"></i> Delete
            </a>
            <a
              href="#"
              class="btn btn-sm font-sm rounded btn-brand btn-block-red"
            >
              Block
            </a>
          </div>
        </div>
        <!-- row .// -->
        <% }); %>
      </article>
      <!-- itemlist  .// -->
    </div>
    <!-- card-body end// -->
  </div>
  <!-- card end// -->
  <div class="pagination-area mt-30 mb-50">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
        <li class="page-item active"><a class="page-link" href="#">01</a></li>
        <li class="page-item"><a class="page-link" href="#">02</a></li>
        <li class="page-item"><a class="page-link" href="#">03</a></li>
        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">16</a></li>
        <li class="page-item">
          <a class="page-link" href="#"
            ><i class="material-icons md-chevron_right"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<!-- content-main end// -->
<%-include("../partials/AdminFooter")-%>
