<%-include("../partials/AdminAsideandHeader")-%>
<section class="content-main">
  <form action="/admin/updateproduct/<%= product._id %>" method="post" id="postform" enctype="multipart/form-data" onsubmit="return submitForm(event)">
    <div class="row">
      <div class="col-9">
        <div class="content-header">
          <h2 class="content-title"> Update Product</h2>
          <div>
            <button
              class="btn btn-md rounded font-sm hover-up"
              type="submit" 
            >
              Update
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Basic</h4>
          </div>
          <style>
            .err{
              color: red;
            }
          </style>
          <div class="card-body">
            <!-- Product Name -->
            <div class="mb-4">
              <label for="product_name" class="form-label">Product Name</label>
              <input
              value="<%= product.productName %>"
                type="text"
                placeholder="Type here"
                class="form-control"
                id="product_name"
                name="newProductName"
              />
            <span id="productNameError" class="err"></span>

            </div>
            <!-- Full description -->
            <div class="mb-4">
              <label class="form-label">Full description</label>
              <textarea
              placeholder="Type here"
                id="product_description"
                class="form-control"
                rows="4"
                name="newDescription"
              ><%= product.description %></textarea>
            <span id="productDescriptionError" class="err"></span>

            </div>
            <!-- Regular Price and Sale Price -->
            <div class="row">
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Regular Price</label>
                    <input
                    value="<%= product.regularPrice %>"
                      placeholder="$"
                      type="text"
                      id="regularPrice"
                      class="form-control"
                      name="newregularPrice"
                    />
                  <span id="regularPriceError" class="err"></span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Sale Price</label>
                  <input
                  value="<%= product.salePrice %>"
                    placeholder="$"
                    type="text"
                    id="sale_price"
                    class="form-control"
                    name="newsalePrice"
                  />
                  <span id="salePriceError" class="err"></span>
                </div>
              </div>
            </div>
            <!-- Size, Brand, Stock, Color, Material, Type -->
            <div class="row">
              
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Brand</label>
                  <input
                  value="<%= product.brand %>"
                    placeholder=""
                    id="product_brand"
                    type="text"
                    class="form-control"
                    name="newbrand"
                  />
                  <span id="brandError" class="err"></span>
                </div>
              </div>
              <div class="col-lg-4">
                <label class="form-label" >Size</label>
                <select class="form-select" name="newsize" id="product_size" >
                  <option value="Size">Size</option>
                  <option <%= product.size == 'S' ? 'selected' : '' %> value="S">S</option>
                  <option <%= product.size == 'M' ? 'selected' : '' %> value="M">M</option>
                  <option <%= product.size == 'L' ? 'selected' : '' %> value="L">L</option>
                  <option <%= product.size == 'XL' ? 'selected' : '' %> value="XL">XL</option>
                  <option <%= product.size == 'XXL' ? 'selected' : '' %> value="XXL">XXL</option>
                  <option <%= product.size == 'XXXL' ? 'selected' : '' %> value="XXXL">XXXL</option>
                </select>
                <span id="sizeError" class="err"></span>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Stock</label>
                  <input
                  value="<%= product.stock %>"
                    placeholder=""
                    type="text"
                    class="form-control"
                    id="product_stock"
                    name="newstock"
                  />
                  <span id="stockError" class="err"></span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Color</label>
                  <input
                  value="<%= product.color %>"
                    placeholder=""
                    type="text"
                    class="form-control"
                    id="product_color"
                    name="newcolor"
                  />
                  <span id="colorError" class="err"></span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Material</label>
                  <input
                  value="<%= product.Material %>"
                    placeholder=""
                    type="text"
                    class="form-control"
                    id="product_material"
                    name="newMaterial"
                  />
                  <span id="materialError" class="err"></span>
                </div>
              </div>
              <div class="col-lg-4">
                <label class="form-label">Type</label>
                <select class="form-select" name="newtype" id="product_type">
                  <option value="Type">Type</option>
                  <option <%= product.type == 'Special' ? 'selected' : '' %> value="Special">Special</option>
                  <option <%= product.type == 'Party' ? 'selected' : '' %> value="Party">Party</option>
                </select>
                <span id="typeError" class="err"></span>
              </div>
            </div>
            <!-- Shipping Fees and Tax Rate -->
            <div class="card-header">
              <h4>Shipping</h4>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <label for="product_name" class="form-label"
                  >Shipping fees</label
                >
                <input
                value=" <%= product.shippingFees %>"
                  type="text"
                  placeholder="$"
                  class="form-control"
                  id="product_shippingFees"
                  name="newshippingFees"
                />
                <span id="shippingFeesError" class="err"></span>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Tax rate</label>
                  <input
                  value=" <%= product.taxRate %>"
                    type="text"
                    placeholder="%"
                    class="form-control"
                    id="product_taxRate"
                    name="newtaxRate"
                  />
                  <span id="taxRateError" class="err"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card end// -->
      </div>
      <div class="col-lg-5">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Media</h4>
          </div>
         <!-- Inside your updateProduct EJS template -->
         <style>
     .image-container {
    position: relative;
    display: inline-block;
    margin-right: 20px; 
    margin-bottom: 20px;
}

.button-container-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column; /* Align buttons vertically */
    align-items: flex-start; /* Align buttons to the top of the container */
}

.button-container-left {
    position: absolute;
    bottom: 0;
    left: 50%; /* Center the container horizontally */
    transform: translateX(-50%); /* Move the container back by half its width */
    display: flex;
    flex-direction: row; /* Align buttons vertically */
    align-items: center; /* Align buttons to the center horizontally */
}

.btn-icons {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}
.undo-btn{
  background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.close-button {
    background-color: red;
    border: none;
    color: #fff; /* Set the color of the close button */
    font-size: 10px;
    cursor: pointer;
    border-radius: 50%; /* Round the close button */
    padding: 3px;
    width: 20px;
    height: 20px;
}


        </style>
        
        <div class="card-body">
          <div class="input-upload">
              <% if (product.Image && product.Image.length > 0) { %>
                  <% product.Image.forEach(image => { %>
                      <div class="image-container">
                          <img src="/imgs/Gallery/<%= image %>" alt="Product Image" id="product_image<%= image %>" />
                          <div class="button-container-left">
                            <button id="cropButton" class="btn-icons">crop</button>
                            <button id="cancelButton" class="btn-icons">undo</button>
                          </div>
                          <div class="button-container-right">
                            <button id="deleteButton<%= image %>" class="btn-icons close-button" type="button" onclick="deleteImage('<%= image %>', 'deleteButton<%= image %>')">&#10006;</button>
                            <button id="undoButton" class="undo-btn" onclick="undoDeletion('<%= image %>')">&#8722;</button>
                          </div>
                          
                         
                          
                      </div>
                  <% }); %>
              <% } else { %>
                  <img src="/AdminAssets/imgs/theme/upload.svg" alt="Placeholder" />
              <% } %>
              <input type="hidden" name="deletedImages" id="deletedImagesInput" value="" />

              <input class="form-control" type="file" name="newimages" multiple id="product_images" />
          </div>
          <span id="imagesError" class="err"></span>
      </div>
      

        </div>
        <!-- card end// -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Categories</h4>
          </div>
          <div class="card-body">
            <div class="row gx-2">
              <div class="col-sm-12 mb-1">
                <label class="form-label">Category</label>
                <select class="form-select" name="newcategory" id="product_cat">
                  <option value="65a4dbd9aadd0119c63f7fff">Jeans</option>
                  <option value="Category">Category</option>
                  <% category.forEach(function(item) { %>
                  <option <%= item._id == 'product.category' ? 'selected' : '' %> value="<%=item.CategoryName%>"><%=item.CategoryName%></option>
                  <% }); %>
                </select>
                <span id="categoryError" class="err"></span>
              </div>
            </div>
            <!-- row.// -->
          </div>
        </div>
        <!-- card end// -->
      </div>
    </div>
  </form>
</section>
<%-include("../partials/AdminFooter")-%>
<script>
  function submitForm(e) {
    if(validateUpdateProductForm()){
      document.getElementById('deletedImagesInput').value = JSON.stringify(deletedImages);

      let product_images = [];
      product_images = document.getElementById("product_images")
      const length = "<%=len%>"
      console.log("product_images  ===>>  ",product_images.files.length);
      console.log(product_images.files);
      if(length-deletedImages.length + product_images.files.length<=5){
        
        return true
      }
      else{
        Swal.fire({
                icon: 'error',
                title: 'Image Error!!',
                text: 'Maximum length Reached',
            });
            return false
      }
    }else{
      return false
    }
  }
  let deletedImages = [];
  function deleteImage(imageFilename, buttonID) {
  
  const length = "<%=len%>"
  console.log("length  ===>>>  ",length);
  let product_images = document.getElementById("product_images")

  if(deletedImages.length < length-1 || product_images.files.length > 0){
    if(deletedImages.includes(imageFilename)){
      Swal.fire({
                icon: 'error',
                title: 'Image Error!!',
                text: 'File already selected for deletion',
            });

    }else{
      deletedImages.push(imageFilename);
      console.log('deletedImages.length:', deletedImages.length);
      console.log('images.length:', length);
      console.log('Deleting image:', imageFilename);
      console.log('Images queued for deletion:', deletedImages);
        
    }
            
  }else{
    Swal.fire({
                icon: 'error',
                title: 'Image Error!!',
                text: 'Atlest One image should be present in the product',
            });
  }
}


function undoDeletion(imageFilename) {
    if (deletedImages.length > 0) {
      if(deletedImages.includes(imageFilename)){
        const index = deletedImages.indexOf(imageFilename);
          deletedImages.splice(index,1)
          updateButtonIcon('deleteButton' + imageFilename, 'minus');
          // Optionally, update the UI to re-display the last deleted image
          console.log('Undo deletion of image:', deletedImages);
      }else{
        Swal.fire({
                icon: 'error',
                title: 'Image Error!!',
                text: 'The file is not selected for deletion',
            });
      }
    } else {
      Swal.fire({
                icon: 'error',
                title: 'Image Error!!',
                text: 'No file selected for deletion',
            });

        console.log('No file selected for deletion.');
    }
}

document.addEventListener('DOMContentLoaded', function () {
    const cropButton = document.getElementById('cropButton');
    const cancelButton = document.getElementById('cancelButton');
    const image = document.getElementById('product_image');
    let cropper; // Declare cropper variable outside the event listeners
   console.log("cropping image");
    if (cropButton && cancelButton && image) {
        cropButton.addEventListener('click', function () {
            // Initialize the Cropper instance
            cropper = new Cropper(image, {
                aspectRatio: 16 / 9,
                crop(event) {
                    console.log(event.detail.x);
                    console.log(event.detail.y);
                    console.log(event.detail.width);
                    console.log(event.detail.height);
                    console.log(event.detail.rotate);
                    console.log(event.detail.scaleX);
                    console.log(event.detail.scaleY);
                },
            });
        });

        cancelButton.addEventListener('click', function () {
            // Check if cropper instance exists before attempting to cancel
            if (cropper) {
                // Destroy the Cropper instance
                cropper.destroy();
                console.log('Cropping process cancelled.');
            } else {
                console.log('No active cropping process to cancel.');
            }
        });
    } else {
        console.error('One or more elements not found. Check your element IDs.');
    }
});

</script>
